$gray: #efefef;
$gray-x: #afafaf;
$ligthGray: #4a4a4a;
$gray-dark: #2f2f2f;
$black:#000;
$orange: #f5855b;
$orange-dark: #ff672e;
$background-white : #FFF;

$linear-orange :linear-gradient(to left, #c73a4f, #f5855b);
$rgba-orange: rgb(60 26 2 / 62%);
$rgba-light-orange: rgb(47 46 32 / 99%);

$font-main: 16px;
$font-bold: 700;
$font-boldS: 600;
$font-emoji: emoji;

$btn-padding: 5px 30px;
$main-padding: 15px 0 ;
$elem-padding: 30px;

$bg-overview: url("../img/pg3.jpg");
$bg-statistics: url("../img/bgsection.jpg");